server:
  port: 8080
spring:
  graphql:
    graphiql:
      enabled: true
    path: /graphql
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://localhost:5432/homework1
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver
  data:
    mongodb:
      uri: mongodb://localhost:27017/sender
    redis:
      host: localhost
      port: 6379
  cache:
    type: redis
    redis:
      time-to-live: 30000
    cache-names: redis-cache
  messages:
    basename: i18n/messages

  liquibase:
    change-log: classpath:db.changelog/master.xml

  web:
    locale: ru_RU

minio:
  url: http://localhost:9000
  port: 9000
  accessKey: user
  secretKey: password
  secure: false
  bucket: minio-storage
  image-size: 10485760